[submodule "classification_quality/rmaracebench"]
	path = classification_quality/rmaracebench
	url = git@git-ce.rwth-aachen.de:hpc-research/correctness/rmaracebench
[submodule "overhead_evaluation/jube"]
	path = overhead_evaluation/jube
	url = git@git-ce.rwth-aachen.de:hpc-research/benchmarks/rma-codes/jube.git
